.contentFizz{
	max-width:600px;
	margin: 0 auto;
}
#submit{
	padding: 1px;
	font-size: 18px;
	background-color: #ccf2ff;
	text-shadow: 1px 1px #57D6C7;
	color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #57D6C7;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	position:relative;
	width:9.60em;
	font-family: 'Source Sans Pro', sans-serif;
}

